<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">{% load static i18n %} {% load url from future %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">{% block page_styles %}
    <link rel="stylesheet" type="text/css" href="{% static " eMenu/styles/screen.css " %}?1">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">{% endblock %} {% block page_head %}{% endblock %}

    <meta name="description" content="{% block page_description %}{% endblock %}">
    <meta name="keywords" content="{% block page_keywords %}{% endblock %}">

    <title>{% block page_title %}{% endblock %} - {{ site.name }}</title>
</head>

<body>
    {% include "nav.html" %}
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            {% block content %}{% endblock %}
        </div>
        <hr>
        {% include "footer.html" %}
    </div>

    {% block page_scripts %}
    <script type="text/javascript" src="{% static "eMenu/scripts/jquery-1.11.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "eMenu/scripts/main.js" %}"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% endblock %}
</body>

</html>
