{% load url from future %}
{% load active from navigation %}

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">eMenu</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% active '/' %}"><a href="{% url "menu:menu_list" %}">Lista kart menu</a></li>
                <li class="{% active '/reportbug/' %}"><a href="{% url "menu:report_bug" %}">Formularz zgłaszania błędów</a></li>
            </ul>
        </div>
    </div>
</div>
