{% extends "base_site.html" %}
{% load url from future %}
{% load i18n static l10n query_string %}

{% block page_title %}Zestawy dań{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-9">
        <div class="jumbotron">
            <h1>Lista kart menu</h1>
            <p>Zawsze najlepsze posiłki, smacznego :)</p>
        </div>
        {% include "messages.html" %}
        <div style="margin-left: 15px;">
            SORTUJ WG:
            <form method="get" action=".">
                {% include "forms/fields/select.html" with field=form.sort_option classes="autosubmit" %}
            </form>
        </div>
        {% for menu in page.object_list %}
            <div class="col-6 col-sm-6 col-lg-4">
                <h2>{{ menu.name}}</h2>
                <p>Ilość posiłków na karcie: {{ menu.meals_count }}</p>
                <p><a class="btn btn-default" href="{{ menu.get_absolute_url }}" role="button">Wyświetl kartę »</a>
                </p>
            </div>
        {% empty %}
            <div>Brak kart menu do wyświetlenia</div>
        {% endfor %}
    </div>

    <div class="col-xs-12 col-sm-9">
        <ul class="pager" style="text-align: left;">
            <li {% if not page.has_previous %}class="disabled"{% endif %}><a href="?{% query_string "page" page=page.previous_page_number %}">Poprzedni</a></li>
            <li {% if not page.has_next %}class="disabled"{% endif %}><a href="?{% query_string "page" page=page.next_page_number %}">Następny</a></li>
        </ul>
    </div>
{% endblock %}
