{% extends "base_site.html" %}
{% load url from future %}
{% load i18n static l10n query_string %}

{% block page_title %}Formularz zgłaszania błędów{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-9">
        <div class="jumbotron">
            <h1>Formularz zgłaszania błędów</h1>
        </div>
        <form method="post" action="." >{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" />
        </form>
    </div>
{% endblock %}