{% extends "base_site.html" %}
{% load url from future %}
{% load i18n static l10n thumbnail %}

{% block page_title %}Zestawy dań{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-9">
        <div class="jumbotron">
            <h1>{{ menu.name }}</h1>
        </div>
        <div>Dania</div>
        {% for meal in menu.meals.all %}
            <div class="col-6 col-sm-6 col-lg-4">
                <h3>{{ meal.name }}</h3>
                <div style="width: 140px;height: 100px;">
                {% thumbnail meal.image "140x100" crop="50% 50%" as t %}
                    <p class="image"><img src="{{ t.url }}" alt="{{ meal.name|lower }}"></p>
                {% endthumbnail %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}