{% load l10n %}
<select id="{{ id }}" onchange="{{ onchange }}" name="{{ field.html_name }}"{% if classes or field.errors %}class="{{ classes }}{% if field.errors %} error{% endif %}"{% endif %}>
    {% for value, label in field.field.choices %}
        <option value="{{ value|unlocalize }}"{% if value|stringformat:"s" == field.value|stringformat:"s" %} selected="selected"{% endif %}>{{ label }}</option>
    {% endfor %}
</select>
